/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*common styles  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
    margin:0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    padding-bottom: 0;
}

/* Navigation bar  */
header{
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 930px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-Content: space-between;

}
.logo-part{
    display: flex;
    align-items: center;
}
.logo-part img{
    width: 41px;
    height: 100%;
    margin-right: 16px;
}
.logo-name{
    color: white;
}
.menu-part{
    display: flex;
    align-items: center;
    float: right;
}
.menu-part ul{
    display: flex;
    list-style: none;
}
.menu-part ul li{
    margin-right: 36px;
    color: white;
}


/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24xp;
    margin-top: 0;

}
.players{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-row-gap: 30px ;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
  
}

/* top blog style */

.top-blogs{
    margin-top: 30px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    margin-bottom: 25px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    width:164px;
    height: 68px;
    margin-top:0;
}
.blog-author{
    font: 16px;
    color:#9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 30px;

}
.course{
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 4px gray;
}

.course .course-banner img{
    width: 100%;
   
}
.course-info{
    display: grid;
    grid-template-columns: 1.2fr 0.5fr 1.2fr;
    
}
.course-info div{
    margin-right: 16px;
}
.fa-star{
    color:#FFC014;
    font-size: 12px;
}
.empty-star{
    color:#AEAEAE;
    font-size: 12px;
}
.course-info p{
    margin: 0;
}
.course-duration{
    background-color: #FEE5DF;
    border-radius: 25px;
    padding: 1px;
    justify-content: center;
}

/*-----------------
 Media Query
 --------------- */

 /* Mobile Devices */
 @media only screen and (max-width: 688px) {
    nav{
        width:100%;
    }
        .logo-part img{
        width: 25px;
        height: 100%;
        margin-right: 8px;
    }
    .logo-name{
        font-size: 20px;
    }
    .menu-part ul li{
        margin-right: 16px;   
    }
    .menu-part img{
        width: 35px;
        height: 100%;
    }

    .container{
        width:100%;
        padding-right: 0;
        padding-left: 0;
    } 
    .players, .blogs, .courses{
         display: grid;
         grid-template-columns: repeat(1 , 1fr);
     }
     .player, .blog, .course{
         flex-direction: column;
         align-items: center;
     }

     .courses{
         grid-row-gap: 30px;
         padding:0 5% 5% 5%;
     }
    
 }

 /* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    
    .container{
        width:100%;
    }
    .players, .courses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .blog, .course{
        flex-direction: column;
        align-items: center;
    }
    .courses{
        grid-row-gap: 30px;
        padding:0 5% 5% 5%;
    }
  
    
}


